@import "tailwindcss";

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-Regular.otf");
}

@theme {
  --color-black: #222123;
  --color-main-bg: #232224;
  --color-white: #ffffff;
  --color-dark-brown: #523122;
  --color-mid-brown: #a26833;
  --color-light-brown: #e3a458;
  --color-red-brown: #7f3b2d;
  --color-yellow-brown: #a26833;
  --color-milk-yellow: #e3d3bc;
  --color-red: #a02128;
  --color-milk: #faeade;
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}

@layer base {
  * {
    ::-webkit-scrollbar {
      display: none;
    }
    font-family: "ProximaNova", sans-serif;
  }
}
body {
  @apply bg-[#1c1c1c];
}

.message-content {
  @apply bg-[#6ec6c2] text-milk min-h-dvh overflow-hidden flex justify-center items-center relative z-20;

  .msg-wrapper {
    @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw] flex flex-col justify-center items-center md:gap-24 gap-14;

    h1:first-of-type {
      @apply 2xl:max-w-4xl md:max-w-2xl max-w-xs text-center  text-[#faeade10];
    }

    h1:last-of-type {
      @apply 2xl:max-w-7xl md:max-w-4xl max-w-xs text-center  text-[#faeade10];
    }
  }

  p {
    @apply text-center font-paragraph;
  }

  h1,
  h2 {
    @apply leading-none;
  }

  .msg-text-scroll {
    @apply rotate-[3deg] 2xl:translate-y-5 -translate-y-5 absolute z-10 border-[.5vw] border-[#7f3b2d];
  }
}
